<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
   
   

    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D20240596787005038" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= " ASAMA KHATUN" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "19-05-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "BEGAM KHATOON" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "BHIKHU MIYA" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "GAIRA BARHARWAKALA EAST CHAMPARAN 845437" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= "  28-05-2024" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "GRAM BARHARWAKALAN" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "79952" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>
