<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
   
   

    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D20241097347005839" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= " CHAINI DEVI" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "18-10-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "SUSU DEVI" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "CHHOTELAL SAH" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "NAWAGAW GOITA TOLA WEST CHAMPARAN 845450" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= " 25-10-2024 " %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "NAWAGAW GOITA" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "25102" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>
