<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D2024598377005839" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= "  REHANA KHATUN" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "19-05-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "SAGIRA KHATUN" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "RAMJAN MIYAN" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "DHADWA NAWALPUR WEST CHAMPARAN 845452" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= " 28-05-2024" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "PAKADIHAR" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "28204" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>
