<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
   
   

    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D20241298477005038" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= " NIKU KUMARI" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "04-12-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "SUMAN DEVI" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "ADHAR MAHTO" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "GRAM AHIROLLIYA EAST CHAMPARAN 845417" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= "13-12-2024" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "GRAM AHIROLLIYA" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "11942" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>
