
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Death Certificate</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
    <!-- Navbar -->
  <nav class="navbar">
    <div class="navv">
      <img src="/img/nav.jpeg" alt="Gov Logo" class="navv">
      
    </div>
   
  </nav>
  <div class="certificate-container">
  
    <table class="details-table">
      <tr>
        <th>Registration Number</th>
        <td><%= "D20240591947005839" %></td>
      </tr>
      <tr>
        <th>Name</th>
        <td><%= " SANTI DEVI" %></td>
      </tr>
      <tr>
        <th>Date of Death</th>
        <td><%= "04-05-2024" %></td>
      </tr>
      <tr>
        <th>Mother's Name</th>
        <td><%= "KAVITA DEVI" %></td>
      </tr>
      <tr>
        <th>Father's Name</th>
        <td><%= "MANINDRA PRASAD" %></td>
      </tr>
      <tr>
        <th>Place of Death</th>
        <td><%= "MARAHIY WARD NO 1, WEST CHAMPARAN,BIHAR-845453" %></td>
      </tr>
      <tr>
        <th>Registration Date</th>
        <td><%= "04-05-2024" %></td>
      </tr>
      <tr>
        <th>Registration Unit Name</th>
        <td><%= "MARAHIY" %></td>
      </tr>
       <tr>
        <th>Registration Unit Code</th>
        <td><%= "04056" %></td>
      </tr>
    </table>

    
  </div>
<%- include("partial/footer") %>


</body>
</html>
